@import 'colors';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {

    background-color: black; 
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;

    .page{

      background-image: url('/img/coffee-photo.jpg');
      background-size: cover;
      width: 80%;
      display: flex;

      flex-direction: row;
      justify-content: flex-end;


      .stripe{
        height: 100%;
        width: 30%;
        background-color: rgba(133, 112, 112,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 

        h1{
          font-size: bold;
          color: white;
          font-size: 5em;
        }

        p{
            font-size:2em;
            color: white;
        }

        .order{
          color: white;
          background-color: red;
          border: 2px white solid;
          border-radius: 15px;
          padding: 4em;
        }

      }
    }

}

/* .container {
  max-width: 960px;
  margin: 1rem auto;
  background-color: $bg-secondary;
}

h1 {
  color: $text-color;
}
 */